#goal_table{
    background: white;
    border: 1px black solid;
}
.table-active > td{
    heigth:50px;
    width:50px;
    font-size: small;
    background: white;
    border: 1px black solid;
}
#content-wrapper{
    height: 400px;
}
#table-wrapper{
    float: left;
}
#form-wrapper{
    float: right;
}
#main_input{
    float: left;
}
.sub_input{
    float: left;
    display: none;
}
#button_area{
    float: left;
    width:50px;
}
#banner-wrapper{
    display: table;
    vertical-align: middle;
    text-align: center;
}
.banner{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 60px;
    width: auto;
    margin: auto;
    background-color: #fbfcfc;
    border-radius: 1em;
    /*margin-bottom: 15px;*/
    /*margin-left: 15px;*/
    /*margin-right: 15px;*/
}
.table-active > td > div{
    max-height: 50px;
    height: 50px;
    width: 50px;
    text-align: center;
    background: white;
}
.row{
    text-align: center;
    margin: auto;
}