{% extends 'board/layout.html' %}
{% block banner %}
    <div>
        <h3> {{ maingoal.writer }}님의 {{ maingoal }} 목표를 응원합니다. </h3>
    </div>
{% endblock %}
{% block content %}
    <div id="content-wrapper">
        <div id="table-wrapper">
            <table id="goal_table">
                <tr id="line1" class="table-active">
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                </tr>
                <tr id="line2" class="table-active">
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div>{{ subgoal1.sub_goal }}</div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                </tr>
                <tr id="line3" class="table-active">
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                </tr>
                <tr id="line4" class="table-active">
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div>{{ subgoal1.sub_goal }}</div>
                    </td>
                    <td>
                        <div>{{ subgoal2.sub_goal }}</div>
                    </td>
                    <td>
                        <div>{{ subgoal3.sub_goal }}</div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                </tr>
                <tr id="line5" class="table-active">
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div>{{ subgoal4.sub_goal }}</div>
                    </td>
                    <td>
                        <div>{{ maingoal.main_goal }}</div>
                    </td>
                    <td>
                        <div>{{ subgoal5.sub_goal }}</div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                </tr>
                <tr id="line6" class="table-active">
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div>{{ subgoal6.sub_goal }}</div>
                    </td>
                    <td>
                        <div>{{ subgoal7.sub_goal }}</div>
                    </td>
                    <td>
                        <div>{{ subgoal8.sub_goal }}</div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                </tr>
                <tr id="line7" class="table-active">
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                </tr>
                <tr id="line8" class="table-active">
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                </tr>
                <tr id="line9" class="table-active">
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                    <td>
                        <div></div>
                    </td>
                </tr>
            </table>
        </div>
        <div id="form-wrapper">
            <form>
                <input class="btn btn-success" type="submit" value="HTML 복사">
                <input class="btn btn-info" type="submit" value="이미지 다운">
            </form>
        </div>
    </div>
{% endblock %}