{% extends 'board/layout.html' %}
{% block script %}
    {% load static %}
    <script type="text/javascript" src="{% static "board/board_new.js" %}">
    </script>

{% endblock %}
{% block banner %}
    <div>
        <h3> 쓰기쓰기쓰기. </h3>
    </div>
{% endblock %}
{% block content %}
    <div id="content-wrapper">
        <div id="table-wrapper">
            <table id="goal_table">
                <tr id="line1" class="table-active">
                    <td>
                        <div id="ach_way11"></div>
                    </td>
                    <td>
                        <div id="ach_way12"></div>
                    </td>
                    <td>
                        <div id="ach_way13"></div>
                    </td>
                    <td>
                        <div id="ach_way21"></div>
                    </td>
                    <td>
                        <div id="ach_way22"></div>
                    </td>
                    <td>
                        <div id="ach_way23"></div>
                    </td>
                    <td>
                        <div id="ach_way31"></div>
                    </td>
                    <td>
                        <div id="ach_way32"></div>
                    </td>
                    <td>
                        <div id="ach_way33"></div>
                    </td>
                </tr>
                <tr id="line2" class="table-active">
                    <td>
                        <div id="ach_way14"></div>
                    </td>
                    <td>
                        <div class="sub_goal_cell1"></div>
                    </td>
                    <td>
                        <div id="ach_way15"></div>
                    </td>
                    <td>
                        <div id="ach_way24"></div>
                    </td>
                    <td>
                        <div class="sub_goal_cell2"></div>
                    </td>
                    <td>
                        <div id="ach_way25"></div>
                    </td>
                    <td>
                        <div id="ach_way34"></div>
                    </td>
                    <td>
                        <div class="sub_goal_cell3"></div>
                    </td>
                    <td>
                        <div id="ach_way35"></div>
                    </td>
                </tr>
                <tr id="line3" class="table-active">
                    <td>
                        <div id="ach_way16"></div>
                    </td>
                    <td>
                        <div id="ach_way17"></div>
                    </td>
                    <td>
                        <div id="ach_way18"></div>
                    </td>
                    <td>
                        <div id="ach_way26"></div>
                    </td>
                    <td>
                        <div id="ach_way27"></div>
                    </td>
                    <td>
                        <div id="ach_way28"></div>
                    </td>
                    <td>
                        <div id="ach_way36"></div>
                    </td>
                    <td>
                        <div id="ach_way37"></div>
                    </td>
                    <td>
                        <div id="ach_way38"></div>
                    </td>
                </tr>
                <tr id="line4" class="table-active">
                    <td>
                        <div id="ach_way41"></div>
                    </td>
                    <td>
                        <div id="ach_way42"></div>
                    </td>
                    <td>
                        <div id="ach_way43"></div>
                    </td>
                    <td>
                        <div class="sub_goal_cell1"></div>
                    </td>
                    <td>
                        <div class="sub_goal_cell2"></div>
                    </td>
                    <td>
                        <div class="sub_goal_cell3"></div>
                    </td>
                    <td>
                        <div id="ach_way51"></div>
                    </td>
                    <td>
                        <div id="ach_way52"></div>
                    </td>
                    <td>
                        <div id="ach_way53"></div>
                    </td>
                </tr>
                <tr id="line5" class="table-active">
                    <td>
                        <div id="ach_way44"></div>
                    </td>
                    <td>
                        <div class="sub_goal_cell4"></div>
                    </td>
                    <td>
                        <div id="ach_way45"></div>
                    </td>
                    <td>
                        <div class="sub_goal_cell4"></div>
                    </td>
                    <td>
                        <div id="main_goal_cell"></div>
                    </td>
                    <td>
                        <div class="sub_goal_cell5"></div>
                    </td>
                    <td>
                        <div id="ach_way54"></div>
                    </td>
                    <td>
                        <div class="sub_goal_cell5"></div>
                    </td>
                    <td>
                        <div id="ach_way55"></div>
                    </td>
                </tr>
                <tr id="line6" class="table-active">
                    <td>
                        <div id="ach_way46"></div>
                    </td>
                    <td>
                        <div id="ach_way47"></div>
                    </td>
                    <td>
                        <div id="ach_way48"></div>
                    </td>
                    <td>
                        <div class="sub_goal_cell6"></div>
                    </td>
                    <td>
                        <div class="sub_goal_cell7"></div>
                    </td>
                    <td>
                        <div class="sub_goal_cell8"></div>
                    </td>
                    <td>
                        <div id="ach_way56"></div>
                    </td>
                    <td>
                        <div id="ach_way57"></div>
                    </td>
                    <td>
                        <div id="ach_way58"></div>
                    </td>
                </tr>
                <tr id="line7" class="table-active">
                    <td>
                        <div id="ach_way61"></div>
                    </td>
                    <td>
                        <div id="ach_way62"></div>
                    </td>
                    <td>
                        <div id="ach_way63"></div>
                    </td>
                    <td>
                        <div id="ach_way71"></div>
                    </td>
                    <td>
                        <div id="ach_way72"></div>
                    </td>
                    <td>
                        <div id="ach_way73"></div>
                    </td>
                    <td>
                        <div id="ach_way81"></div>
                    </td>
                    <td>
                        <div id="ach_way82"></div>
                    </td>
                    <td>
                        <div id="ach_way83"></div>
                    </td>
                </tr>
                <tr id="line8" class="table-active">
                    <td>
                        <div id="ach_way64"></div>
                    </td>
                    <td>
                        <div class="sub_goal_cell6"></div>
                    </td>
                    <td>
                        <div id="ach_way65"></div>
                    </td>
                    <td>
                        <div id="ach_way74"></div>
                    </td>
                    <td>
                        <div class="sub_goal_cell7"></div>
                    </td>
                    <td>
                        <div id="ach_way75"></div>
                    </td>
                    <td>
                        <div id="ach_way84"></div>
                    </td>
                    <td>
                        <div class="sub_goal_cell8"></div>
                    </td>
                    <td>
                        <div id="ach_way85"></div>
                    </td>
                </tr>
                <tr id="line9" class="table-active">
                    <td>
                        <div id="ach_way66"></div>
                    </td>
                    <td>
                        <div id="ach_way67"></div>
                    </td>
                    <td>
                        <div id="ach_way68"></div>
                    </td>
                    <td>
                        <div id="ach_way76"></div>
                    </td>
                    <td>
                        <div id="ach_way77"></div>
                    </td>
                    <td>
                        <div id="ach_way78"></div>
                    </td>
                    <td>
                        <div id="ach_way86"></div>
                    </td>
                    <td>
                        <div id="ach_way87"></div>
                    </td>
                    <td>
                        <div id="ach_way88"></div>
                    </td>
                </tr>
            </table>
        </div>
        <div id="form-wrapper">
            <div id="main_input">
                <form id="main_form" action="" method="POST">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <th>핵심 목표 :</th>
                            <td>
                                <input type="text" name="main_goal" maxlength="20" required="" id="id_main_goal">
                            </td>
                            <td>
                            </td>
                        </tr>
                        <tr>
                            <th>작성자 :</th>
                            <td>
                                <input type="text" name="writer" maxlength="30" required="" id="id_writer">
                            </td>
                            <td>
                            </td>
                        </tr>
                        {% for index in '12345678' %}
                            <tr>
                                <th>세부 목표 {{ index }} :</th>
                                <td>
                                    <input type="text" name="sub_goal{{ index }}" maxlength="30" required="" id="id_sub_goal{{ index }}">
                                </td>
                                <td>
                                    <button type="button" class="sub_toggle_btn" id="sub_toggle_btn{{ index }}"><div> >> </div></button>
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                    <button id="delete_button" type="button" class="btn btn-secondary">지우기</button>
                    <input class="btn btn-primary" type="submit">
                </form>
            </div>
            {% for sub_form in sub_forms %}
                <div id="sub_input{{ forloop.counter }}" class="sub_input">
                    <h3>세부목표 {{ forloop.counter }}</h3>
                    <form action="" method="POST">
                        {% csrf_token %}
                        <table>
                            {{ sub_form.as_table }}
                        </table>
                    </form>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}