<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mandarart</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0-beta.2/flatly/bootstrap.min.css" rel="stylesheet" integrity="sha384-FzkHk/sZxl/KbNoSMiA0TgjqdV7ka8VPX/i/Nf2EyhH28i1EVaZ7uf2EEDBBHBo5" crossorigin="anonymous">
    <style>
        td{
            width: 85px;
            height: 85px;
            text-align: center;
            font-size: medium;
        }
        #table-wrapper{
            float: left;
        }
        #form-wrapper{
            float: right;
        }

    </style>
</head>
<body>
<div id="table-wrapper">
    <table class="table table-bordered">
        <tr id="line1" class="table-active">
            <td>
                {{ achway11.ach_way }}
            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
        </tr>
        <tr id="line2" class="table-active">
            <td>

            </td>
            <td>
                {{ subgoal1.sub_goal }}
            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
        </tr>
        <tr id="line3" class="table-active">
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
        </tr>
        <tr id="line4" class="table-active">
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>
                {{ subgoal1.sub_goal }}
            </td>
            <td>
                {{ subgoal2.sub_goal }}
            </td>
            <td>
                {{ subgoal3.sub_goal }}
            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
        </tr>
        <tr id="line5" class="table-active">
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>
                {{ subgoal4.sub_goal }}
            </td>
            <td>
                {{ maingoal.main_goal }}
            </td>
            <td>
                {{ subgoal5.sub_goal }}
            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
        </tr>
        <tr id="line6" class="table-active">
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>
                {{ subgoal6.sub_goal }}
            </td>
            <td>
                {{ subgoal7.sub_goal }}
            </td>
            <td>
                {{ subgoal8.sub_goal }}
            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
        </tr>
        <tr id="line7" class="table-active">
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
        </tr>
        <tr id="line8" class="table-active">
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
        </tr>
        <tr id="line9" class="table-active">
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
            <td>

            </td>
        </tr>
    </table>
</div>
<div id="form-wrapper">
    <form>
        <input class="btn btn-info" type="submit" value="임시버튼">
    </form>
</div>
</body>
</html>