{% extends 'board/layout.html' %}
{% block banner %}
    <div>
        <h3> {{ maingoal.writer }}님의 {{ maingoal }} 목표를 응원합니다. </h3>
    </div>
{% endblock %}
{% block content %}
    <div id="table-wrapper">
        <table class="table table-bordered">
            <tr id="line1" class="table-active">
                <td>
                    {{ achway11.ach_way }}
                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
            </tr>
            <tr id="line2" class="table-active">
                <td>

                </td>
                <td>
                    {{ subgoal1.sub_goal }}
                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
            </tr>
            <tr id="line3" class="table-active">
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
            </tr>
            <tr id="line4" class="table-active">
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>
                    {{ subgoal1.sub_goal }}
                </td>
                <td>
                    {{ subgoal2.sub_goal }}
                </td>
                <td>
                    {{ subgoal3.sub_goal }}
                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
            </tr>
            <tr id="line5" class="table-active">
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>
                    {{ subgoal4.sub_goal }}
                </td>
                <td>
                    {{ maingoal.main_goal }}
                </td>
                <td>
                    {{ subgoal5.sub_goal }}
                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
            </tr>
            <tr id="line6" class="table-active">
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>
                    {{ subgoal6.sub_goal }}
                </td>
                <td>
                    {{ subgoal7.sub_goal }}
                </td>
                <td>
                    {{ subgoal8.sub_goal }}
                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
            </tr>
            <tr id="line7" class="table-active">
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
            </tr>
            <tr id="line8" class="table-active">
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
            </tr>
            <tr id="line9" class="table-active">
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
                <td>

                </td>
            </tr>
        </table>
    </div>
    <div id="form-wrapper">
        <form>
            <input class="btn btn-info" type="submit" value="임시버튼">
        </form>
    </div>
{% endblock %}